<section class="container" >
  <h1 class="large text-primary">Developers</h1>
  <p class="lead"><i class="fab fa-connectdevelop"></i> Browse and connect with developers</p>
  <div class="profiles">
      <div class="profile bg-light" *ngFor='let profile of profiles'>
          <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200" alt="" class="round-img">
          <div>
              <h2>{{profile.firstName}} {{profile.lastName}}</h2>
              <p>{{profile.position}} at {{profile.workplace}}</p>
              <p>{{profile.city}}</p>
              <a routerLink="/components/profile" class="btn btn-primary">View Profile</a>
          </div>
          <ul>
              <li class="text-primary" *ngFor="let item of profile.skills">
                  <i class="fas fa-check"></i> {{item}} 
              </li>
              <!-- Static Code
              <li class="text-primary">
                  <i class="fas fa-check"></i> CSS
              </li>
              <li class="text-primary">
                  <i class="fas fa-check"></i> JavaScript
              </li>
              <li class="text-primary">
                  <i class="fas fa-check"></i> Angular
              </li> 
                -->
          </ul>
      </div>

      <!-- Static Code
      <div class="profile bg-light">
          <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200" alt="" class="round-img">
          <div>
              <h2>John Doe</h2>
              <p>Developer at Microsoft</p>
              <p>Seattle, WA</p>
              <a routerLink="/components/profile" class="btn btn-primary">View Profile</a>
          </div>
          <ul>
              <li class="text-primary">
                  <i class="fas fa-check"></i> HTML
              </li>
              <li class="text-primary">
                  <i class="fas fa-check"></i> CSS
              </li>
              <li class="text-primary">
                  <i class="fas fa-check"></i> JavaScript
              </li>
              <li class="text-primary">
                  <i class="fas fa-check"></i> Angular
              </li> 
          </ul>
      </div> -->
  </div>
</section>