<section class="landing">
  <div class="dark-overlay">
      <div class="landing-inner">
          <h1 class="x-large">Developer Connector</h1>
          <p class="lead">Create developer profile, share posts and get help from other developers</p>
          <div class="buttons">
              <a href="register.html" class="btn btn-primary">Register</a>
              <a href="login.html" class="btn">Login</a>
          </div>
      </div>
  </div>
</section>