//Landing
.landing{
    position: relative;
    background: url(../../../img/bag1.jpg) no-repeat center center/cover;
    height: 100vh;
    
    &-inner{
        color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}