<section class="container">
  <a routerLink="/components/profiles" class="btn">Back To Profiles</a>

  <div class="profile-grid my-1">
      <!-- Top -->
      <div class="profile-top bg-primary p-2">
          <img class="round-img my-2" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200" alt="">
          <h1 class="large">John Doe</h1>
          <p class="lead">Developer at Microsoft</p>
          <p>Seattle, WA</p>
          <div class="icons my-1">
              <a href="#">
                  <i class="fas fa-globe fa-2x"></i>
              </a>
              <a href="#">
                  <i class="fab fa-twitter fa-2x"></i>
              </a>
              <a href="#">
                  <i class="fab fa-facebook fa-2x"></i>
              </a>
                  <a href="#">
                  <i class="fab fa-instagram fa-2x"></i>
              </a>
          </div>
      </div>
      <!-- About -->
      <div class="profile-about bg-light p-2">
          <h2 class="text-primary">John's Biography</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consequatur cum quos recusandae modi, possimus fugit perferendis omnis harum minus.</p>
          <div class="line"></div>
          <h2 class="text-primary">Skill Set</h2>
          <div class="skills">
              <div class="p-1">
                  <i class="fas fa-check"></i> HTML
              </div>
              <div class="p-1">
                  <i class="fas fa-check"></i> CSS
              </div>
              <div class="p-1">
                  <i class="fas fa-check"></i> JavaScript
              </div>
              <div class="p-1">
                  <i class="fas fa-check"></i> Angular
              </div>
          </div>
      </div>
      <!-- Experience -->
      <div class="profile-exp bg-white p-2">
          <h2 class="text-primary">Experience</h2>
          <div>
              <h3>Microsoft</h3>
              <p>Oct 2011 - Current</p>
              <p><strong>Position: </strong> Senior Developer</p>
              <p><strong>Description: </strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis recusandae laudantium animi quidem distinctio repudiandae.</p>
          </div>
          <div>
              <h3>System Inc</h3>
              <p>Oct 2006 - 2011</p>
              <p><strong>Position: </strong> Developer</p>
              <p><strong>Description: </strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis recusandae laudantium animi quidem distinctio repudiandae.</p>
          </div>
      </div>
      <!-- Education -->
      <div class="profile-edu bg-white p-2">
          <h2 class="text-primary">Education</h2>
          <div>
              <h3>University Of Washington</h3>
              <p>1993 - 1998</p>
              <p><strong>Degree: </strong> Masters</p>
              <p><strong>Field of Studies: </strong> Computer Science</p>
              <p><strong>Description: </strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis recusandae laudantium animi quidem distinctio repudiandae.</p>
          </div>
      </div>
      <!-- github -->
      <div class="profile-github">
          <h2 class="text-primary my-1">
              <i class="fab fa-github"></i> GitHub Repository
          </h2>
          <div class="repo bg-white my-1 p-1">
              <div>
                  <h4><a href="#">Repo One</a></h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, mollitia.</p>
              </div>
              <div>
                  <ul>
                      <li class="badge badge-primary">Stars: 44</li>
                      <li class="badge badge-dark">Watchers: 20</li>
                      <li class="badge badge-white">Forks: 32</li>
                  </ul>
              </div>
          </div>
          <div class="repo bg-white my-1 p-1">
              <div>
                  <h4><a href="#">Repo Two</a></h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, mollitia.</p>
              </div>
              <div>
                  <ul>
                      <li class="badge badge-primary">Stars: 44</li>
                      <li class="badge badge-dark">Watchers: 20</li>
                      <li class="badge badge-white">Forks: 32</li>
                  </ul>
              </div>
          </div>
          <div class="repo bg-white my-1 p-1">
              <div>
                  <h4><a href="#">Repo Three</a></h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, mollitia.</p>
              </div>
              <div>
                  <ul>
                      <li class="badge badge-primary">Stars: 44</li>
                      <li class="badge badge-dark">Watchers: 20</li>
                      <li class="badge badge-white">Forks: 32</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>