<section class="container">
  <!-- Alert -->
  <div class="alert alert-danger">
      Invalid Credentials
  </div>
   <h1 class="large text-primary">
       Sign In
   </h1>
   <p class="lead">
       <i class="fas fa-user">Sign into your account</i>
   </p>
   <form action="dashboard.html" class="form">
       <div class="form-group">
           <input type="email" placeholder="Email">
       </div>
       <div class="form-group">
           <input type="password" placeholder="Password" minlength="6">
       </div>
       <input type="submit" value="Login" class="btn btn-primary">
   </form>
   <p class="my-1">
       Don't have an account? <a href="register.html">Sign Up</a>
   </p>
</section>