@import 'config';
@import 'utilities';

//Navbar
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px $primary-color;
    opacity: .9;
    
    ul{
        display: flex;
    }
    
    a{
        color: #fff;
        padding: .45rem;
        margin: 0 .25rem;
        
        &:hover{
            color: $primary-color;
        }
    }
}
