<nav class="navbar bg-dark" *ngIf = '!isLogged; else notActive'>
  <h1>
      <a routerLink="/components/dashboard" (click)="swapStatus()">
          <i class="fas fa-code"> DevConnector</i>
      </a>
  </h1>
  <ul>
      <li><a routerLink="/components/profiles">Developers</a></li>
      <li><a routerLink="/components/register">Register</a></li>
      <li><a routerLink="/components/login">Login</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>

<ng-template #notActive>
    <nav class="navbar bg-dark">
        <h1>
            <a routerLink="/components/dashboard">
                <i class="fas fa-code">DevConnector</i>
            </a>
        </h1>
        <ul>
            <li><a routerLink="/components/profiles">Developers</a></li>
            <li><a routerLink="/components/dashboard"><i class="fas fa-user"></i> <span class="hide-sm"> Dashboard</span></a></li>
            <li><a href="/components/login" (click)="swapStatus()"><i class="fas fa-sign-out-alt"></i> <span class="hide-sm"> Logout</span></a></li>
        </ul>
    </nav>
</ng-template>